<div class="container">
  <%= simple_form_for @post do |f|%>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title , class: "form-control"%>
  </div>
  <div class="form-group">
      <%= f.label :text %>
      <%= f.text_area :text, class: "form-control", style: "min-height: 150px"%>
  </div>
  <div class="form-group">
      <%= f.association :category, collection: Category.order(:name), prompt: "Choose a Category"%>
  </div>
  <%= f.submit%>
  <% end %>
</div>
