  <br>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h1 class="my-0 mr-md-auto font-weight-normal">Bomjo Blogs</h1>

      <h5 class="my-0 mr-md-auto font-weight-normal">
      <% if current_user %>
         Authorised as: <%= current_user.username %>
      <% else %>
         Not authorised
      <% end %>
       </h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark"><%= link_to 'New post', new_post_path %></a>
        <% if current_user %>
          <span class="p-2 text-dark"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></span>
        <% else %>
          <span class="p-2 text-dark"><%= link_to 'Sign up', new_user_registration_path %></span>
          <span class="p-2 text-dark"><%= link_to 'Log in', new_user_session_path %></span>
        <% end %>
      </nav>
    </div>

<div class="container">
  <h3 style="text-align: center">
      <%= @category&.name || "All" %> posts
  </h3><hr>
  <% if @category%>
    <div class="link-container">
    <%= link_to "Go back to all posts", posts_path %>
    </div>
    <hr>
  <% end %>
  <div class="posts-container">
   <% @posts.each do  |post| %>
    <div class="post">
      <%= link_to post do  %>
       <h3> <%= post.title %></h3>
       <% end %>
       Category: <%= link_to post.category.name, category_posts_path(category_handle: post.category.handle) %>
       <p> Created at: <%= post.created_at %> </p>
       <hr>
    </div>
   <% end %>
  </div>
</div>
