<div class="container">
  <br>
    <h3 style="text-align: center"> <%= @post.title %></h3><hr>
    <div class="post">
       <p> Category: <%= @post.category.name %> </p>
       <p> <%= @post.text %> </p>
       <p> Created by: <%= @post.user.username %> </p>
       <p> Created at: <%= @post.created_at %> </p>
    </div>

    <% if current_user && current_user.admin %>
    <hr>
    <div class="link-container" style="text-align: center">
      <%= link_to 'Edit', edit_post_path(@post.id), :class => 'btn btn-warning' %>
        <%= link_to 'Delete', post_path(@post.id), method: :delete,
            data: {confirm: "Your post will be deleted.\nConfirm your action."},
            remote: true, :class => 'btn btn-danger'
        %>
    </div><hr>
    <% end %>
<h1 style="text-align: center">All comments</h1>
<% @post.comments.each do |comment| %>
  <div class="alert alert-light">
    <p><strong><%= comment.username %></strong> : <%= comment.body %></p>
  </div>
<% end %>
<hr>
  <h2 style="text-align: center">Add comment</h2>

  <%= form_for([@post, @post.comments.build]) do |f|%>
    <p>
      User <br>
      <%= f.text_field(:username, {:class => 'form-control'}) %>
    </p>
    <p>
      Comment text <br>
      <%= f.text_area(:body, {:class => 'form-control'}) %>
    </p>

    <p style="text-align: center">
      <%= f.submit("Add comment",{:class => 'btn btn-warning'}) %>
    </p>
    <% end %>
    <hr>
    <div class="link-container" style="text-align: center">
      <%= link_to 'Back to all posts', posts_path %>
    </div>
    <br>
</div>
