
/*
.bkg{
  background-image: url(https://images.hdqwalls.com/download/simple-gray-abstract-background-wi-1680x1050.jpg);
  background-size: cover;
}

.blog{
  min-width: 400px;
  min-height: 1020px;
  max-width: 1020px;
  margin: 0 auto;
  padding: 20px;
  border: 4px solid rgb(255, 255, 255);
  background-image: linear-gradient(to bottom right, rgba(90, 90, 90, 0.836), rgba(10, 10, 10, 0.836));

  color: rgba(255, 255, 255, 0.788);
  font-size: 120%;
  text-align: center;
}

.post, .link-container{
  text-align: center;
}

.link-container{
  font-size: 120%;
}
/**/
