<div class="container"><br>
<h2 style="text-align: center">Log in</h2><hr>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions" style="text-align: center">
    <%= f.button :submit, "Log in" %>
  </div><br><hr>
<% end %>

<h6 style="text-align: center"><%= render "devise/shared/links" %></h6>
</div>
